.how-we-made {
    margin-right: 10vh;
    margin-left: 10vh;
}

.how-we-made-table {
    margin-top: 5vh;
    background-color: white;
}

.how-we-made-table-header {
    background-color: #354052;
    color: white;
}