.collapsible-link::before {
  content: '';
  width: 2px;
  height: 14px;
  background: #ffffff;
  position: absolute;
  top: calc(50% - 7px);
  right: calc(1rem + 6px);
  display: block;
  transition: all 0.3s;
}
  
  /* Vertical line */
.collapsible-link::after {
  content: '';
  width: 2px;
  height: 14px;
  background: #ffffff;
  position: absolute;
  top: calc(50% - 7px);
  right: calc(1rem + 6px);
  display: block;
  transition: all 0.3s;
}

.collapsible-link[aria-expanded='true']::after {
  transform: rotate(90deg) translateX(-1px);
}

.collapsible-link[aria-expanded='true']::before {
  transform: rotate(180deg);
}

.toggle-card {
  background: #354052;
}

.toggle-card-body {
  background: #ffffff;
}

.accordion_item_last {
  margin-bottom: 5vh;
}

.weblist {
  margin-top: 5vh;
}

.weblist-page {
  margin-bottom: 5vh;
}